$assetPath : "https://parspack-cdn.librefont.ir";
// $assetPath : "../fonts/";

@font-face {
  src: url('#{$assetPath}/arad/main/variable/Arad-VF.woff2');
  font-family:'Arad';
  font-style: normal;
}
